.touxiang {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:left;
}
.greeting{
    text-align: right;
    color: white;
}